@import url("https://fonts.googleapis.com/css2?family=Playwrite+AU+NSW:wght@100..400&family=Playwrite+IT+Moderna:wght@100..400&family=Playwrite+US+Modern:wght@100..400&display=swap");
.ShopGirls{
   h2{
    font-family: "Playwrite AU NSW", cursive;
    font-weight: bold;
    font-size: 50px;
   }
    
}