.img{
   position: relative; 
   img{
    width: 500px;
   }
   .contain{
    position: absolute;
    top:4%;
    left:0.5%;
    right: 0.7%;
    width:480px;
    height: 307px;
    margin: 0 5PX;
    background-color:transparent;
    border: 2px dashed white;
    z-index: 2222222222222;
   }
}